body{
    background-color: #f2a0cd;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: rgb(164, 83, 12);
    text-align: center;
}

img{
    max-width: 10%;
    height: max-content;
}