body{
    background-color: #f2a0cd;
}

p{
    font-family: Aparajita;
    font-size: medium;
    color: rgb(164, 83, 12);
    text-align: center;
}

img{
    width: 150pt;
    height: 193pt;
    align-content: center;
}